ul {
  list-style: none outside none;
}
.ub
{
  display: -webkit-box !important;
  display: box !important;
  position:relative;
}
.ub-f1
{
  position:relative;
  -webkit-box-flex: 1;
  box-flex: 1;
}

/*select*/
.zx_mask {
  overflow: hidden;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0);
  z-index: 9998;
}

.zx_select {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 4.4rem;*/
  height: 0;
  width: 100%;
  color: #333;
  background: #fff;
  z-index: 9999;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.zx_select > header {
  overflow: hidden;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #F0F1F2;
  -webkit-box-shadow: 0 0 8px #333;
  -moz-box-shadow: 0 0 8px #333;
  box-shadow: 0 0 8px #333;
}
.zx_select > header > h1 {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: normal;
}
.zx_select > header > button {
  font-size: 15px;
  height: 45px;
  padding: 0 10px;
  border: none;
  outline: none;
  color: #007AFF;
  background: #F0F1F2;
}
.zx_select button.nav_left {
  float: left;
}
.zx_select button.nav_right {
  float: right;
}

.zx_select > p {
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 14px !important;
}
.zx_select > p > span {
  display: block;
}

/*列表*/
.zx_select > div {
  overflow: hidden;
  position: relative;
  height: 200px;
  text-align: center;
}
.zx_select > div > div.ub-f1 {
  max-width: 100%;
  min-width: 100%;
}
.zx_select ul {
  line-height: 40px;
}
.zx_select ul > li {
  height: 40px;
  color: #2A2B2C;
  font-weight: 700;
  padding: 0 10px !important;
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zx_select .sel_middle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  margin-top: -20px;
  pointer-events: none;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

.zx_select .sel_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  background: rgba(255,255,255,0.7);
}
.zx_select .sel_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  background: rgba(255,255,255,0.7);
}
