<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>月半小夜曲</string>
		<key>filename</key>
		<string>1201111234.mp3</string>
		<key>lrcname</key>
		<string>月半小夜曲.lrc</string>
		<key>singer</key>
		<string>李克勤</string>
		<key>singerIcon</key>
		<string>lkq_icon.jpg</string>
		<key>icon</key>
		<string>lkq.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月半小夜曲</string>
		<key>filename</key>
		<string>1201111234.mp3</string>
		<key>lrcname</key>
		<string>月半小夜曲.lrc</string>
		<key>singer</key>
		<string>李克勤</string>
		<key>singerIcon</key>
		<string>lkq_icon.jpg</string>
		<key>icon</key>
		<string>lkq.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小苹果</string>
		<key>filename</key>
		<string>120125029.mp3</string>
		<key>lrcname</key>
		<string>120125029.lrc</string>
		<key>singer</key>
		<string>筷子兄弟</string>
		<key>singerIcon</key>
		<string>kzxd_icon.jpg</string>
		<key>icon</key>
		<string>kzxd.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小苹果</string>
		<key>filename</key>
		<string>120125029.mp3</string>
		<key>lrcname</key>
		<string>120125029.lrc</string>
		<key>singer</key>
		<string>筷子兄弟</string>
		<key>singerIcon</key>
		<string>kzxd_icon.jpg</string>
		<key>icon</key>
		<string>kzxd.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泡沫</string>
		<key>filename</key>
		<string>14945107.mp3</string>
		<key>lrcname</key>
		<string>14945107.lrc</string>
		<key>singer</key>
		<string>G.E.M.邓紫棋</string>
		<key>singerIcon</key>
		<string>dzq_icon.jpg</string>
		<key>icon</key>
		<string>dzq.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泡沫</string>
		<key>filename</key>
		<string>14945107.mp3</string>
		<key>lrcname</key>
		<string>14945107.lrc</string>
		<key>singer</key>
		<string>G.E.M.邓紫棋</string>
		<key>singerIcon</key>
		<string>dzq_icon.jpg</string>
		<key>icon</key>
		<string>dzq.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>I Want It That Way</string>
		<key>filename</key>
		<string>12309111.mp3</string>
		<key>lrcname</key>
		<string>12309111.lrc</string>
		<key>singer</key>
		<string>Backstreet Boys</string>
		<key>singerIcon</key>
		<string>bb_icon.jpg</string>
		<key>icon</key>
		<string>bb.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>I Want It That Way</string>
		<key>filename</key>
		<string>12309111.mp3</string>
		<key>lrcname</key>
		<string>12309111.lrc</string>
		<key>singer</key>
		<string>Backstreet Boys</string>
		<key>singerIcon</key>
		<string>bb_icon.jpg</string>
		<key>icon</key>
		<string>bb.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>传奇</string>
		<key>filename</key>
		<string>10405520.mp3</string>
		<key>lrcname</key>
		<string>10405520.lrc</string>
		<key>singer</key>
		<string>王菲</string>
		<key>singerIcon</key>
		<string>wf_icon.jpg</string>
		<key>icon</key>
		<string>wf.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>传奇</string>
		<key>filename</key>
		<string>10405520.mp3</string>
		<key>lrcname</key>
		<string>10405520.lrc</string>
		<key>singer</key>
		<string>王菲</string>
		<key>singerIcon</key>
		<string>wf_icon.jpg</string>
		<key>icon</key>
		<string>wf.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>简单爱</string>
		<key>filename</key>
		<string>10736444.mp3</string>
		<key>lrcname</key>
		<string>10736444.lrc</string>
		<key>singer</key>
		<string>周杰伦</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>简单爱</string>
		<key>filename</key>
		<string>10736444.mp3</string>
		<key>lrcname</key>
		<string>10736444.lrc</string>
		<key>singer</key>
		<string>周杰伦</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瓦解</string>
		<key>filename</key>
		<string>255319.mp3</string>
		<key>lrcname</key>
		<string>255319.lrc</string>
		<key>singer</key>
		<string>南拳妈妈</string>
		<key>singerIcon</key>
		<string>nanquan_icon.jpg</string>
		<key>icon</key>
		<string>nanquan.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瓦解</string>
		<key>filename</key>
		<string>255319.mp3</string>
		<key>lrcname</key>
		<string>255319.lrc</string>
		<key>singer</key>
		<string>南拳妈妈</string>
		<key>singerIcon</key>
		<string>nanquan_icon.jpg</string>
		<key>icon</key>
		<string>nanquan.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>心碎了无痕</string>
		<key>filename</key>
		<string>235319.mp3</string>
		<key>lrcname</key>
		<string>235319.lrc</string>
		<key>singer</key>
		<string>张学友</string>
		<key>singerIcon</key>
		<string>zxy_icon.jpg</string>
		<key>icon</key>
		<string>zxy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>心碎了无痕</string>
		<key>filename</key>
		<string>235319.mp3</string>
		<key>lrcname</key>
		<string>235319.lrc</string>
		<key>singer</key>
		<string>张学友</string>
		<key>singerIcon</key>
		<string>zxy_icon.jpg</string>
		<key>icon</key>
		<string>zxy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一千年以后</string>
		<key>filename</key>
		<string>309769.mp3</string>
		<key>lrcname</key>
		<string>309769.lrc</string>
		<key>singer</key>
		<string>林俊杰</string>
		<key>singerIcon</key>
		<string>jj_icon.png</string>
		<key>icon</key>
		<string>jj.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一千年以后</string>
		<key>filename</key>
		<string>309769.mp3</string>
		<key>lrcname</key>
		<string>309769.lrc</string>
		<key>singer</key>
		<string>林俊杰</string>
		<key>singerIcon</key>
		<string>jj_icon.png</string>
		<key>icon</key>
		<string>jj.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>最佳损友</string>
		<key>filename</key>
		<string>339744.mp3</string>
		<key>lrcname</key>
		<string>339744.lrc</string>
		<key>singer</key>
		<string>陈奕迅</string>
		<key>singerIcon</key>
		<string>eason_icon.jpg</string>
		<key>icon</key>
		<string>eason.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>最佳损友</string>
		<key>filename</key>
		<string>339744.mp3</string>
		<key>lrcname</key>
		<string>339744.lrc</string>
		<key>singer</key>
		<string>陈奕迅</string>
		<key>singerIcon</key>
		<string>eason_icon.jpg</string>
		<key>icon</key>
		<string>eason.jpg</string>
	</dict>
    <dict>
        <key>name</key>
        <string>月半小夜曲</string>
        <key>filename</key>
        <string>1201111234.mp3</string>
        <key>lrcname</key>
        <string>月半小夜曲.lrc</string>
        <key>singer</key>
        <string>李克勤</string>
        <key>singerIcon</key>
        <string>lkq_icon.jpg</string>
        <key>icon</key>
        <string>lkq.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>月半小夜曲</string>
        <key>filename</key>
        <string>1201111234.mp3</string>
        <key>lrcname</key>
        <string>月半小夜曲.lrc</string>
        <key>singer</key>
        <string>李克勤</string>
        <key>singerIcon</key>
        <string>lkq_icon.jpg</string>
        <key>icon</key>
        <string>lkq.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>小苹果</string>
        <key>filename</key>
        <string>120125029.mp3</string>
        <key>lrcname</key>
        <string>120125029.lrc</string>
        <key>singer</key>
        <string>筷子兄弟</string>
        <key>singerIcon</key>
        <string>kzxd_icon.jpg</string>
        <key>icon</key>
        <string>kzxd.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>小苹果</string>
        <key>filename</key>
        <string>120125029.mp3</string>
        <key>lrcname</key>
        <string>120125029.lrc</string>
        <key>singer</key>
        <string>筷子兄弟</string>
        <key>singerIcon</key>
        <string>kzxd_icon.jpg</string>
        <key>icon</key>
        <string>kzxd.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>泡沫</string>
        <key>filename</key>
        <string>14945107.mp3</string>
        <key>lrcname</key>
        <string>14945107.lrc</string>
        <key>singer</key>
        <string>G.E.M.邓紫棋</string>
        <key>singerIcon</key>
        <string>dzq_icon.jpg</string>
        <key>icon</key>
        <string>dzq.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>泡沫</string>
        <key>filename</key>
        <string>14945107.mp3</string>
        <key>lrcname</key>
        <string>14945107.lrc</string>
        <key>singer</key>
        <string>G.E.M.邓紫棋</string>
        <key>singerIcon</key>
        <string>dzq_icon.jpg</string>
        <key>icon</key>
        <string>dzq.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>I Want It That Way</string>
        <key>filename</key>
        <string>12309111.mp3</string>
        <key>lrcname</key>
        <string>12309111.lrc</string>
        <key>singer</key>
        <string>Backstreet Boys</string>
        <key>singerIcon</key>
        <string>bb_icon.jpg</string>
        <key>icon</key>
        <string>bb.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>I Want It That Way</string>
        <key>filename</key>
        <string>12309111.mp3</string>
        <key>lrcname</key>
        <string>12309111.lrc</string>
        <key>singer</key>
        <string>Backstreet Boys</string>
        <key>singerIcon</key>
        <string>bb_icon.jpg</string>
        <key>icon</key>
        <string>bb.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>传奇</string>
        <key>filename</key>
        <string>10405520.mp3</string>
        <key>lrcname</key>
        <string>10405520.lrc</string>
        <key>singer</key>
        <string>王菲</string>
        <key>singerIcon</key>
        <string>wf_icon.jpg</string>
        <key>icon</key>
        <string>wf.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>传奇</string>
        <key>filename</key>
        <string>10405520.mp3</string>
        <key>lrcname</key>
        <string>10405520.lrc</string>
        <key>singer</key>
        <string>王菲</string>
        <key>singerIcon</key>
        <string>wf_icon.jpg</string>
        <key>icon</key>
        <string>wf.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>简单爱</string>
        <key>filename</key>
        <string>10736444.mp3</string>
        <key>lrcname</key>
        <string>10736444.lrc</string>
        <key>singer</key>
        <string>周杰伦</string>
        <key>singerIcon</key>
        <string>jay_icon.png</string>
        <key>icon</key>
        <string>jay.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>简单爱</string>
        <key>filename</key>
        <string>10736444.mp3</string>
        <key>lrcname</key>
        <string>10736444.lrc</string>
        <key>singer</key>
        <string>周杰伦</string>
        <key>singerIcon</key>
        <string>jay_icon.png</string>
        <key>icon</key>
        <string>jay.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>瓦解</string>
        <key>filename</key>
        <string>255319.mp3</string>
        <key>lrcname</key>
        <string>255319.lrc</string>
        <key>singer</key>
        <string>南拳妈妈</string>
        <key>singerIcon</key>
        <string>nanquan_icon.jpg</string>
        <key>icon</key>
        <string>nanquan.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>瓦解</string>
        <key>filename</key>
        <string>255319.mp3</string>
        <key>lrcname</key>
        <string>255319.lrc</string>
        <key>singer</key>
        <string>南拳妈妈</string>
        <key>singerIcon</key>
        <string>nanquan_icon.jpg</string>
        <key>icon</key>
        <string>nanquan.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>心碎了无痕</string>
        <key>filename</key>
        <string>235319.mp3</string>
        <key>lrcname</key>
        <string>235319.lrc</string>
        <key>singer</key>
        <string>张学友</string>
        <key>singerIcon</key>
        <string>zxy_icon.jpg</string>
        <key>icon</key>
        <string>zxy.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>心碎了无痕</string>
        <key>filename</key>
        <string>235319.mp3</string>
        <key>lrcname</key>
        <string>235319.lrc</string>
        <key>singer</key>
        <string>张学友</string>
        <key>singerIcon</key>
        <string>zxy_icon.jpg</string>
        <key>icon</key>
        <string>zxy.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>一千年以后</string>
        <key>filename</key>
        <string>309769.mp3</string>
        <key>lrcname</key>
        <string>309769.lrc</string>
        <key>singer</key>
        <string>林俊杰</string>
        <key>singerIcon</key>
        <string>jj_icon.png</string>
        <key>icon</key>
        <string>jj.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>一千年以后</string>
        <key>filename</key>
        <string>309769.mp3</string>
        <key>lrcname</key>
        <string>309769.lrc</string>
        <key>singer</key>
        <string>林俊杰</string>
        <key>singerIcon</key>
        <string>jj_icon.png</string>
        <key>icon</key>
        <string>jj.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>最佳损友</string>
        <key>filename</key>
        <string>339744.mp3</string>
        <key>lrcname</key>
        <string>339744.lrc</string>
        <key>singer</key>
        <string>陈奕迅</string>
        <key>singerIcon</key>
        <string>eason_icon.jpg</string>
        <key>icon</key>
        <string>eason.jpg</string>
    </dict>
    <dict>
        <key>name</key>
        <string>最佳损友</string>
        <key>filename</key>
        <string>339744.mp3</string>
        <key>lrcname</key>
        <string>339744.lrc</string>
        <key>singer</key>
        <string>陈奕迅</string>
        <key>singerIcon</key>
        <string>eason_icon.jpg</string>
        <key>icon</key>
        <string>eason.jpg</string>
    </dict>
</array>
</plist>
